###### Requirements without Version Specifiers ######`
# lightgbm
plotly
pandas-profiling
# wordcloud
# nltk
optuna
mlflow
tensorflow

###### Requirements with Version Specifiers ######`
# docopt == 0.6.1             # Version Matching. Must be version 0.6.1
